* {
  box-sizing: border-box;
}

body {
  background-color: #76ab92;
  /* background-image: url(../images/Evening\ Night.png); */
  /* background-repeat: no-repeat; */
  min-height: 100%;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Fruktur", cursive;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

/* recipe links  */

a:link,
a:visited {
  text-decoration: none;
  color: rgb(23, 30, 36);
}

a:hover,
a:active {
  text-decoration: none;
  color: rgb(59, 59, 59);
}

.links {
  width: 200px;
  border-top: 2px solid rgb(17, 20, 17);
  border-bottom: 2px solid rgb(17, 20, 17);
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 30px;
}
